/* BoxWithImage.css */
:root{
    --background: #2b2a33;
    --maintext: black;
    --accent1: #45a3ff;
    --cardBG: white;
    --cardshadow: #111;
    --cardtext: black;
    --socialbrightness: 100%;
}

.cards{
    display: flex;
    gap: 2em;
    flex-wrap: wrap;
    /*    justify-content: space-evenly;    */
    justify-content: center;
    padding: 0 15px;
}

.card-shadow{
    width: 310px;
    height: 310px;
    justify-content: center;
    align-items: center;
    text-align: center;
    /*    border-radius: 15px;*/
    box-shadow: 5px 5px 20px var(--cardshadow);
    border-radius: 15px; /* Adjust the value to control the roundness */
}

.card{
    width: 310px;
    height: 310px;
    justify-content: center;
    align-items: center;
    text-align: center;
    /*    border-radius: 15px;*/
    /*    border: 2px solid black;*/

    position: relative;
    color: black;
    transition: .3s;
    display: flex;
    background-color: var(--cardBG);
    border-radius: 15px; /* Adjust the value to control the roundness */
}

.card-image-container{
    /*    filter: brightness(70%);*/
    width: 310px;
    height: 310px;
    color: white;
    /*    border-radius: 15px;*/
}

.card:hover{
    filter: brightness(125%);
}

.card-image{
    width: 90%;
    /*    border-radius: 15px;*/
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*    width: 250px;*/
    /*    border: 2px solid black;*/
}

.card-title{
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    width: 320px;
}

.card-subtext{
    color: var(--cardtext);
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    width: 240px;
}

.card-title {
    font-size: 23px;
}