.main-image {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    filter: drop-shadow(1px 1px 5px hsl(0, 0%, 75%));
}

@media (min-width: 800px) {
    .main-image {
        height: 500px;
        width: 500px;
    }
}

/* Add a class for the colored link */
.color-link {
    color: #336dff; /* or your preferred color code */
}